<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li class="active"><a href="/">Home</a></li>
    <li class="active"><a href="/#Open Banking - Accounts">Accounts (Read / Write)</a></li>
    <li class="active"><a href="/#Open Banking - Payments">Payments (Read / Write)</a></li>
    <li class="active"><a href="/#Branches">ATMs (Public Data)</a></li>
    <li class="active"><a href="/#Personal Accounts">Personal Accounts (Public Data)</a></li>
    <li class="active"><a href="/#Business Accounts">Business Accounts (Public Data)</a></li>
    <li class="active"><a href="/#Unsecured SME Loans">SME Unsecured Loans (Public Data)</a></li>
    <li class="active"><a href="/#Commercial Credit Cards">Commercial Credit Cards (Public Data)</a></li>
    <li class="active"><a href="https://github.com/{{ site.github_org }}/{{ site.github_repo }}" target="_blank">Github</a></li>
  </ul>
</nav>
